  <div class="container">`
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>   </small>
                </h1>
                <p> Tronistor is a professional QA anonymous website. <br/>  <br/>It was designed for users to ask questions without any judgement and affiliation. </p>
            </div>
        </div>
    </div>